.home {
    .recommend-title {
        height: 35px;
        background-color: #f7f7fa;
        background-image: url('../../assets/images/recommend.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}